derby.log
.Rapp.history
.DS_Store
.classpath
.project
.settings
.pyc
target/
build/
/bin/
.idea/
src/test/resources/data/parquet/*
src/test/resources/data/avro/*
src/test/resources/output/
*.iml
*.ipr
*.iws

