derby.log
.Rapp.history
.DS_Store
.classpath
.project
.settings
.pyc
target/
build/
/bin/
.idea/
src/test/resources/data/parquet/*
src/test/resources/data/avro/*
src/test/resources/output/
src/test/resources/data/prod/
*.iml
*.ipr
*.iws
src/test/resources/data/*.tsv
src/test/java/com/github/bartekdobija/omniture/SandboxTest.java
